# Drivers: sqlite|postgres, fs|s3, sqlite|redis|memory
DB_DRIVER=sqlite
STORAGE_DRIVER=fs
QUEUE_DRIVER=sqlite

SQLITE_PATH=../../data/dev.sqlite
FS_STORAGE_DIR=../../data/storage

# Optional
DATABASE_URL=postgresql://youtube:youtube@localhost:5432/youtube
REDIS_URL=redis://localhost:6379

# ffmpeg
FFMPEG_THREADS=2
